@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100;400;700&display=swap');
@import "reset.css";

:root{
    --bg-color: #282c34;
    --nav-bar-color: #21252b;
    --normal-text-color: #e2e3e7;
    --non-accent: #505357;

    --nav-bar-width: 300px;
}

body{
    background-color: var(--bg-color);
    color: var(--normal-text-color);
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
     }
    
    ::-webkit-scrollbar-thumb {
    background-color: var(--nav-bar-color);
     }