.content-container{
    width: 70%;
    margin: 0 auto;
    padding: 70px 0 40px 0;
    line-height: 25px;
}

.article-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.article-name{
    font-size: 40px;
    margin-bottom: 25px;
}

.article-lesson-number{
    width: 100%;
    margin-bottom: 80px;
}

.article-date{
    font-size: 10px;
}

.article-date, .article-lesson-number{
    text-transform: uppercase;
    color: #505357;
}
