.navbar{
    width: var(--nav-bar-width);
    background-color: var(--nav-bar-color);
    border-right: 1px solid #505357;
    display: flex;
    -webkit-box-shadow: 5px 0px 24px -21px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 0px 24px -21px rgba(0, 0, 0, 1);
    box-shadow: 5px 0px 24px -21px rgba(0, 0, 0, 1);
    overflow: hidden;
    justify-content: space-between;
    padding-top: 20px;
    position: fixed;
    top: 0;
    height: 100%;
}

.content{
    width: 100%;
}

.title{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-left: 14px;
}

.links-list{
    padding: 30px 0;
    width: 100%;
}

.link{
    transition: 200ms;
    padding: 20px 15px 20px 14px;
    cursor: pointer;
    list-style: none;
}

.link>a{
    color: var(--normal-text-color);
 }

.link:hover{
    background-color: var(--bg-color);
}

.link-title{
    font-size: 14px;
    line-height: 23px;
}

.link-addition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    margin-top: 15px;
    color: var(--non-accent);    
    font-weight: 700;
}

.link-lesson-number{
    text-transform: uppercase;
}