.articleForm{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}

.title{
    font-size: 40px;
    margin-bottom: 20px;
}

.lessonDate{
    font-size: 14px;
    margin-bottom: 50px;
    color: var(--non-accent);
    display: block;
}

.deleteButton{
    margin-right: 20px;
}