.header{
    border-bottom: 4px solid var(--nav-bar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 5px 24px -21px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 5px 24px -21px rgba(0, 0, 0, 1);
    box-shadow: 0 5px 24px -21px rgba(0, 0, 0, 1);
    height: 60px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--nav-bar-width);
    height: 100%;
    font-family: 'Mooli', serif;   
    font-size: 27px;
    letter-spacing: 17px;
    color: var(--normal-text-color);
    transition: 200ms;
}

.logo:hover{
    color: white;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

.exportImportButtons{
    height: 100%;
    display: flex;
}

.inputLabel, .exportBtn{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-transform: uppercase;
    background-color: inherit;
    color: var(--normal-text-color);
    transition:  200ms;
    font-size: 15px;
    font-weight: lighter;
}

.inputLabel:hover, .exportBtn:hover{
    background-color: var(--non-accent);
}

.inputLabel{
    font-size: 15px;
}

.verticalLine{
    height: 50%;
    width: 1px;
    background-color: var(--normal-text-color);
    margin: auto 0;
}

.fileInput{
    display:none;
}

.boldText{
    font-weight: bolder;
}